body {
  font-family: Lucida Console, Monaco5, monospace;
  background-color: #000030;
  color: white;
  width: 820px;
  margin: 0 auto;
  letter-spacing: 1.5px;
}

p {
  text-align: justify;
  line-height: 20px;
}

h1.game-title {
  text-align: center;
}

h2.objective {
  text-align: center;
  border-top: 4px solid orange;
  border-bottom: 4px solid orange;
  height: 40px;
  max-width: 500px;
  margin: auto;
  line-height: 40px;
}

div#turn-over {
  display: none;
  max-height: 400px;
  width: 800px;
  position: absolute;
  font-size: 36px;
  text-align: center;
  padding-top: 100px;
}
div#turn-over2 {
  display: none;
  max-height: 400px;
  width: 800px;
  position: absolute;
  font-size: 36px;
  text-align: center;
  padding-top: 100px;
}
div#ready-player1 {
  max-height: 400px;
  width: 800px;
  position: absolute;
  font-size: 36px;
  text-align: center;
  padding-top: 100px;
}

div#ready-player2 {
  display: none;
  max-height: 400px;
  width: 800px;
  position: absolute;
  font-size: 36px;
  text-align: center;
  padding-top: 100px;
}
div#winner-page {
  display: none;
  max-height: 400px;
  width: 800px;
  position: absolute;
  font-size: 36px;
  text-align: center;
  padding-top: 100px;
}

div#game-board {
  display: none;
  margin: 0 auto;
  height: 400px;
  width: 800px;
  border: 10px solid magenta;
  position: absolute;
}

div#game-board2 {
  display: none;
  margin: 0 auto;
  height: 400px;
  width: 800px;
  border: 10px solid magenta;
  position: absolute;
}

div.number-tile.wrong {
  font-size: 12px;
  line-height: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
div.number-tile2.wrong {
  font-size: 12px;
  line-height: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

div.number-tile {
  border: 4px solid magenta;
  float: left;
  width: 117px;
  height: 64px;
  line-height: 64px;
  margin: 4px;
  text-align: center;
  align-content: center;
  font-size: 24px;
}
div.number-tile2 {
  border: 4px solid magenta;
  float: left;
  width: 117px;
  height: 64px;
  line-height: 64px;
  margin: 4px;
  text-align: center;
  align-content: center;
  font-size: 24px;
}

div.number-tile.tile-done {
  border: 4px solid magenta;
  float: left;
  width: 117px;
  height: 64px;
  line-height: 64px;
  margin: 4px;
  text-align: center;
  align-content: center;
  font-size: 0px;
  color: #000030;
}
div.number-tile2.tile-done {
  border: 4px solid magenta;
  float: left;
  width: 117px;
  height: 64px;
  line-height: 64px;
  margin: 4px;
  text-align: center;
  align-content: center;
  font-size: 0px;
  color: #000030;
}

div.score-board {
  float: left;
  display: inline-block;
  height: 100px;
  width: 200px;
  margin-top: 440px;
  border: 4px solid blue;
  padding-left: 10px;
  line-height: 20px;
  font-size: 20px;
  text-align: left;
}
div.game-time {
  display: inline-block;
  float: left;
  height: 100px;
  width: 200px;
  margin-top: 440px;
  margin-left: 30px;
  border: 4px solid blue;
  padding-left: 10px;
  text-align: left;
  font-size: 30px;
  line-height: 50px;
}

div.lives {
  display: inline-block;
  float: left;
  height: 100px;
  width: 305px;
  margin-top: 440px;
  margin-left: 30px;
  border: 4px solid blue;
  padding-left: 10px;
  font-size: 20px;
  line-height: 40px;
  align-content: center;
}

div.blank {
  width: 100px;
  height: 50px;
  float: left;
}

div.muncher {
  float: left;
  height: 50px;
  width: 50px;
  padding: 3px;
}



