body {
  font-family: Lucida Console, Monaco5, monospace;
  background-color: #000030;
  color: white;
  width: 820px;
  margin: 0 auto;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

main {}

p {
  text-align: justify;
}

h1.game-title {
  text-align: center;
}

h2.objective {
  text-align: center;
}

p.score {
  position: relative;
}

div#game-board.ready-player {
  background-color: #000077;
  opacity: 0;
  width: 500px;
  width: 800px;
  font-size: 48px;
  text-align: center;
  color: white;
  position: absolute;
}

div#turn-over {
  display: none;
  max-height: 500px;
  width: 800px;
  position: absolute;
  font-size: 48px;
  text-align: center;
  padding-top: 100px;
}
div#turn-over2 {
  display: none;
  max-height: 500px;
  width: 800px;
  position: absolute;
  font-size: 48px;
  text-align: center;
  padding-top: 100px;
}
div#ready-player1 {
  max-height: 500px;
  width: 800px;
  position: absolute;
  font-size: 48px;
  text-align: center;
  padding-top: 100px;
}

div#ready-player2 {
  display: none;
  max-height: 500px;
  width: 800px;
  position: absolute;
  font-size: 48px;
  text-align: center;
  padding-top: 100px;
}
div#winner-page {
  display: none;
  max-height: 500px;
  width: 800px;
  position: absolute;
  font-size: 48px;
  text-align: center;
  padding-top: 100px;
}
div#winner-page.end-game {
  display: none;
}

div#game-board {
  display: none;
  margin: 0 auto;
  height: 500px;
  width: 800px;
  border: 10px solid white;
  position: absolute;
  z-index: 1;
}

div#game-board2 {
  display: none;
  margin: 0 auto;
  height: 500px;
  width: 800px;
  border: 10px solid white;
  position: absolute;
  z-index: 1;
}

div.number-tile.wrong {
  font-size: 12px;
}
div.number-tile2.wrong {
  font-size: 12px;
}


div.number-tile {
  border: 4px solid white;
  float: left;
  width: 250px;
  height: 150px;
  line-height: 150px;
  margin: 4px;
  text-align: center;
  align-content: center;
  font-size: 36px;
}
div.number-tile2 {
  border: 4px solid white;
  float: left;
  width: 250px;
  height: 150px;
  line-height: 150px;
  margin: 4px;
  text-align: center;
  align-content: center;
  font-size: 36px;
}

div.number-tile.tile-done {
  border: 4px solid white;
  float: left;
  width: 250px;
  height: 150px;
  line-height: 150px;
  margin: 4px;
  text-align: center;
  align-content: center;
  font-size: 36px;
  color: #000030;
}
div.number-tile2.tile-done {
  border: 4px solid white;
  float: left;
  width: 250px;
  height: 150px;
  line-height: 150px;
  margin: 4px;
  text-align: center;
  align-content: center;
  font-size: 36px;
  color: #000030;
}

div.score-board {
  float: left;
  display: inline-block;
  height: 100px;
  width: 200px;
  margin-top: 600px;
  border: 4px solid white;
  padding-left: 10px;
  line-height: 22px;
  font-size: 22px;
}
div.game-time {
  display: inline-block;
  height: 100px;
  width: 520px;
  margin-top: 600px;
  margin-left: 50px;
  border: 4px solid white;
  padding-left: 10px;
  align-content: center;
  font-size: 44px;
  line-height: 100px;
}



